<!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © 2013. All Rights Reserved by KnowledgeBase.
                                                        </p>
                                                </div>
                                                <div class="span6">
                                                        <!-- Social Navigation -->
                                                        <ul class="social-nav clearfix">
                                                                <li class="linkedin"><a target="_blank" ng-href="#"></a></li>
                                                                <li class="stumble"><a target="_blank" ng-href="#"></a></li>
                                                                <li class="google"><a target="_blank" ng-href="#"></a></li>
                                                                <li class="deviantart"><a target="_blank" ng-href="#"></a></li>
                                                                <li class="flickr"><a target="_blank" ng-href="#"></a></li>
                                                                <li class="skype"><a target="_blank" ng-href="skype:#?call"></a></li>
                                                                <li class="rss"><a target="_blank" ng-href="#"></a></li>
                                                                <li class="twitter"><a target="_blank" ng-href="#"></a></li>
                                                                <li class="facebook"><a target="_blank" ng-href="#"></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->
                        